[package]
name = "embive"
description = "A low-level sandboxing library for RISC-V bytecode"
version = "0.0.0"
authors = ["Daniel Stuart <daniel.stuart14@gmail.com>"]
repository = "https://github.com/embive/embive"
documentation = "https://docs.rs/embive"
keywords = ["riscv", "interpreter", "embedding", "sandboxing", "no_std"]
categories = ["no-std", "virtualization", "embedded"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.81"
readme = "README.md"

[dependencies]

[features]
default = ["m_extension"]
full = ["m_extension", "instruction_limit"]
m_extension = []
instruction_limit = []